.playControls {
  display: inline-flex;
  width: calc(100% - 72px);
  margin-left: 48px;
}

.playControls svg {
  padding: 6px;
  border-radius: 4px;
}

.playControls svg:hover {
  cursor: pointer;
  background-color: #3E3E3E;
}

.slider {
  margin: auto 0.5rem;
}

.timeValue {
  margin-left: 0.5rem;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.skipButton {
  font-size: 1.5rem !important;
  margin-top: auto;
  margin-bottom: auto;
}

.playButton {
  font-size: 2rem !important;
  margin-top: auto;
  margin-bottom: auto;
}