.layout {
  margin-left: 41px;
  margin-top: 1.5rem;
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
}

.customHeight {
  height: 100%;
}

.panel {
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--border-color);
}

.panel.draggingOver {
  border: 2px dashed #007aff;
}

.panelGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.panelComponent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  overflow: auto;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.vertical .resizeHandle {
  width: 100%;
  height: 6px;
  cursor: row-resize;
}

.headerComponent.dragging {
  opacity: 0.5;
}

.headerComponent:hover {
  background-color: #f0f0f0;
}

.headerComponent:active {
  opacity: 0.5;
}

.headerComponent:focus {
  outline: none;
}

.tab {
  height: 1.5rem;
  display: flex;
}

.tab.active {
  border-bottom: 3px solid var(--button-focused);
}

.tab.focused {
  border-bottom: 3px solid var(--button-active);
}

.tabHeader {
  display: flex;
  height: 1.5rem;
  padding: 5px 5px 2px 5px;
  background-color: var(--dropdown-background);
}

.tabTitle {
  margin: auto auto auto 4px;
  color: var(--primary-text);
  font-size: 0.9rem;
}

.tabIcon {
  margin: auto;
}

.tabIcon svg {
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: var(--accent) !important;
}

.tabClose {
  color: var(--primary-text) !important;
  height: 1rem;
  width: 1rem;
  margin: auto !important;
  margin-left: 0.6rem !important;
  border-radius: 3px;
}

.tabClose:hover {
  background-color: var(--dropdown-hover) !important;
}

.tabClose svg {
  font-size: 0.8rem;
  color: var(--svg-color-primary) !important;
}

.tabComponent {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
}