.leftMenu {
  width: 3rem;
  display: inline-block;
  position: absolute !important;
  background-color: var(--input-background);
  margin-left: -7px !important;
  margin-top: 1.5rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  height: -webkit-fill-available;
  bottom: 32px;
}

.listItem {
  padding: 1rem !important;
}

.listItem div svg {
  color: var(--svg-color-primary) !important;
}

.listItem:hover {
  background-color: var(--dropdown-hover);
}

.css-cokf1l-MuiListItemIcon-root {
  min-width: 0 !important;
}