.app-container {
  top: auto !important;
  bottom: 0;
  background-color: var(--input-background) !important;
  height: 2rem !important;
}

.footer {
  font-size: 0.7rem;
  margin-top: auto;
  margin-bottom: auto;
}