//
.css-1uent87-MuiButtonBase-root-MuiButton-root {
  color: var(--secondary-text) !important;
}

.AppBox {
  display: inline-flex;
  background-color: var(--sidebar-header);
  height: 1rem;
}

.css-1uent87-MuiButtonBase-root-MuiButton-root {
  font-size: var(--font-size) !important;
  border-radius: 0 !important;
}

.MenuButton {
  height: 1rem;
}

.css-1toxriw-MuiList-root-MuiMenu-list {
  background-color: var(--sidebar-header);
  color: var(--secondary-text);
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 0 !important;
}

.css-1toxriw-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// mui list li
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  min-height: 1px !important;
  min-width: 6rem;
}

.css-7ctihp-MuiTypography-root {
  font-size: var(--font-size) !important;
}